body {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  font-family: "PT Mono", monospace;
  font-size: 13px;
  width: 350px;
  min-height: 80px;
  background-color: #d8d9e4;
}

button {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.settings {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.title {
  font-weight: bold;
}

.contentIcon {
  height: 96px;
}

.main div {
  margin-top: 10px;
}

.main button div {
  align-self: center;
}
