body {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  font-family: "PT Mono", monospace;
  font-size: 13px;
  width: 350px;
  min-height: 80px;
  background-color: #d8d9e4;
}

.header {
  display: flex;
  justify-content: space-between;
}

.icon {
  cursor: pointer;
}

.icon img {
  width: 30px;
  height: 30px;
}

.title {
  font-weight: bold;
}

#add-url,
#settings {
  display: none;
}

.nav {
  margin-bottom: 10px;
}

.check-url {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid black;
}

.add-url {
  display: flex;
  flex-direction: column;
}

input[type="radio"] {
  margin-bottom: 5px;
}

.add-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.add-status {
  margin: auto;
  font-weight: bold;
  font-size: 150%;
}

.redirect-buttons {
  margin-bottom: 5px;
}

.url-list {
  display: flex;
  flex-direction: column;
}

.check-info {
  display: flex;
}

.check-status-info {
  position: absolute;
  margin-left: 200px;
  margin-top: 20px;
  font-weight: bold;
}

button {
  width: 100%;
  margin: 10px 0px 10px 0px;
}
